### Q001. 빈 리스트인 list0을 만들어보자.
### 출력까지 해보자.

In [14]:
list0 = []
print(list0)

[]

### Q002.'희준', '강타' 를 넣어 HOT라는 리스트를 만들어보자.
### 출력까지 해보자.

In [15]:
HOT = []

#HOT[0] = '희준'
#HOT[1] = '강타'
# 빈 배열에 바로 선언을 하게 되면 error가 뜬다.

HOT.insert(0,'희준')
HOT.append('강타')
print(HOT)

['희준', '강타']

### Q003. 1,2,3 이라는 값을 갖는 numbers 라는 리스트를 만들자.
### 인덱스를 이용하여 값들을 각각 출력해보자.
<pre>
출력:
1
2
3

In [19]:
numbers = [1, 2, 3]
print(numbers.index(1))
print(numbers.index(2))
print(numbers.index(3))

0
1
2

### Q004. 앞에서 만든 numbers 리스트에서 마이너스(-)인덱스를 이용해서 값 3을 출력해보자.

In [20]:
print(numbers[-1])

3

### Q005. 아래 리스트에서 인덱스를 이용해서 '여름', '겨울'을 각각 출력해 보세요.

In [21]:
z = ['q', 1, ['여름', '겨울']]
print(z[2][0])
print(z[2][1])

여름
겨울

### Q006. 아래 리스트에서 2,3,4까지 슬라이스해서 출력해보세요.

In [23]:
a = [1,2,3,4,5]
print(a[1:4])

[2, 3, 4]

### Q007. 아래 리스트에서 홀수만 슬라이스 해서 출력해보세요.

In [24]:
w = [1,2,3,4,5,6,7,8,9]
print(w[::2])

[1, 3, 5, 7, 9]

### Q008. 아래 리스트에서 짝수만 슬라이스 해서 출력해보세요.

In [25]:
w = [1,2,3,4,5,6,7,8,9]
print(w[1::2])

[2, 4, 6, 8]

### Q009. 리스트 z와 리스트 q를 더해서 새로운 리스트 w를 만들어보세요.
### 출력도 해보세요.

In [26]:
z = [1, 2]
q = [3, 4]
w = z + q
print(w)

[1, 2, 3, 4]

### Q010. 리스트 z에 3을 곱하여 반복한 z2를 만들어보세요.
### z2를 출력해보세요.

In [28]:
z = ['x', 'y']
z2 = z * 3
print(z2)

['x', 'y', 'x', 'y', 'x', 'y']

### Q011. 아래 리스트 z의 길이를 구하세요.

In [29]:
z = [1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,23]
print(len(z))

20

### Q012.리스트 colors가 아래와 같이 주어질 때, 'yellow'를 추가하세요.

In [31]:
colors = ['red', 'blue', 'green']
colors.append('yellow')
print(colors)

['red', 'blue', 'green', 'yellow']

### Q013. 리스트 colors가 아래와 같이 주어질 때, colors2에 있는 여러 값들을 colors에 추가하세요.

In [32]:
colors = ['red', 'blue', 'green', 'yellow']
colors2 = ['black', 'gray']
colors.extend(colors2)
print(colors)

['red', 'blue', 'green', 'yellow', 'black', 'gray']

### Q014. 리스트 a가 아래와 같을 때, 3번째 인덱스(순번)에 10을 넣으세요.

In [33]:
a = [1, 3, 4, 9, 8, 2]
a.insert(3,10)
print(a)

[1, 3, 4, 10, 9, 8, 2]

### Q015. 리스트 q가 아래와 같을 때, '철수' 를 제거하세요.

In [34]:
q = ['민희', '민지', '병호', '철수', '훈희']
q.remove('철수')
print(q)

['민희', '민지', '병호', '훈희']

### Q016. 리스트 a가 아래와 같을 때, 값 1을 10으로 바꾸세요.

In [35]:
a = [2,3,1,7,9]
a[2] = 10
print(a)

[2, 3, 10, 7, 9]

### Q017. 리스트 list1 이 아래와 같을 때, 'fox'의 인덱스(순번)을 찾으세요.

In [37]:
list1 = ['lion', 'tiger', 'dog', 'cat', 'fox', 'turtle']
list1.index('fox')

4

### Q018. 리스트 list2가 아래와 같을 때 7의 갯수를 출력하세요.

In [39]:
list2 = [7,7,7,7,7,8,8,8,88,6,5,5,4,4,3,2,2,25,6,6,7,77,7,8,8,88,5,5,5,8,888,77,7]
list2.count(7)

8