<a href="https://colab.research.google.com/github/lshyun0119/python/blob/master/%EC%9D%B4%EC%88%98%ED%98%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트

##리스트란?
리스트란 여러 값을 담을 수 있는 변수입니다.

#### 방법 1

In [0]:
# list1 이라는 빈 리스트를 만들어 보겠습니다.
list1 = []

In [3]:
print(list1)

[]

In [0]:
# list2를 만들어보자. 1, '철수', True를 넣어서.
list2 = [1, '철수', True]

In [5]:
print(list2)

[1, '철수', True]

#### 방법2

In [0]:
list3 = list()

In [9]:
print(list3)

[]

In [0]:
1, '철수', True를 넣어서 list4를 만들어보세요.
list4 = list()

In [0]:
list4 = [(1, '철수', True)]

In [11]:
print(list4)

[(1, '철수', True)]